/* Font import */
@font-face {
  font-family: Automatico;
  src:  url('/fonts/Automatico_Text-Light.woff2') format('woff2');
  src:  url('/fonts/Automatico_Text-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: Automatico;
  src:  url('/fonts/Automatico_Text-Regular.woff2') format('woff2');
  src:  url('/fonts/Automatico_Text-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Automatico;
  src:  url('/fonts/Automatico_Text-Medium.woff2') format('woff2');
  src:  url('/fonts/Automatico_Text-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: Automatico;
  src:  url('/fonts/Automatico_Text-Bold.woff2') format('woff2');
  src:  url('/fonts/Automatico_Text-Bold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}


/* Reset */
*, *::before, *::after {
  box-sizing: border-box;
  -webkit-tap-highlight-color:transparent;
}
* {
  margin: 0;
}
:root{
  --gutter: 1.4rem;
  --aspectRatio: 3 / 2;
  --aspectRatioWide: 16 / 9;
  --transition: cubic-bezier(.77,0,.175,1) 300ms;
  --black: rgba(0, 0, 0, 1);
  --blackOpacity: rgba(0, 0, 0, .9);
  --white: rgba(255, 255, 255, 1);
  --gray: rgba(217, 217, 217, 1);
  --grayOpacity: rgba(217, 217, 217, .9);
}
html {
  font-family: Automatico, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  color: var(--black);
  background-color: var(--white);
  font-size: clamp(13px, calc(10px + 0.5291005291vw), 18px);
  line-height: 1.2;
  letter-spacing: .01em;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  white-space: pre-line;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
#root, #__next {
  isolation: isolate;
}
a:-webkit-any-link {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}
a:any-link {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}
.text-xl {
  font-size: 13.3333rem;
  font-weight: 600;
  letter-spacing: -.05em;
  line-height: .9;
}
.text-l {
  font-size: 3.777rem;
  font-weight: 400;
  letter-spacing: -.03em;
  line-height: 1;
}
.text-m {
  font-size: 2.222rem;
  font-weight: 400;
  letter-spacing: -.03em;
  line-height: 1;
}
h2.text-l,
h2.text-m {
  margin-top: .15em;
}
nav.text-l {
  line-height: 1.2;
}
.text-s {
  font-size: 1rem;
}
.text-xs {
  font-size: .777rem;
}
.body {
  margin: 1.2em 0;
  grid-column: 1 / span 2;
}
p + p:not(.mt-0) {
  margin-top: 1.2rem;
}
p + p.portableText,
ul + p.portableText {
  margin-top: 0;
  text-indent: 2em;
}
.page-title {
  grid-column: 3 / span 4;
  margin-bottom: 5rem;
}
.page-subtitle {
  margin-top: calc(1em);
}
p + .subtitle {
  margin-top: 1em;
}
.subtitle + p {
  margin-top: 1.2rem;
}
.content {
  grid-column: 3 / span 4;
}
@media screen and (max-width: 1300px) {
  .text-xl {
    font-size: 12rem;
  }
}
@media screen and (max-width: 1200px) {
  .content,
  .page-title {
    grid-column: 1 / span 6;
  }
  .text-xl {
    font-size: 10rem;
    font-weight: 600;
    letter-spacing: -.05em;
    line-height: .9;
  }
  .text-l {
    font-size: 4rem;
    font-weight: 400;
    letter-spacing: -.03em;
    line-height: 1;
  }
  .text-m {
    font-size: 2.154rem;
    font-weight: 400;
    letter-spacing: -.03em;
    line-height: 1;
  }
  .text-xs {
    font-size: .7692307692rem;
  }
}
@media screen and (max-width: 600px) {
  .text-xl {
    font-size: 50vw;
  }
  h2.text-l {
    margin-top: 0;
  }
}
.grid {
  display: grid;
  column-gap: var(--gutter);
}
.grid.cols-1 {
  grid-template-columns: repeat(1, 1fr);
}
.grid.cols-2 {
  grid-template-columns: repeat(2, 1fr);
}
.grid.cols-3 {
  grid-template-columns: repeat(3, 1fr);
}
.grid.cols-4 {
  grid-template-columns: repeat(4, 1fr);
}
.grid.cols-2 .subtitle {
  font-size: 1.777rem;
}
a {
  display: inline-block;
  width: auto;
  position: relative;
}
a:not(.no-hover, .menu-item):hover {
  color: var(--gray);
}
a.active,
button.active {
  color: var(--gray);
}
/* a:not(.no-hover):before {
  content: '';
  display: block;
  width: 0;
  height: 1em;
  background-color: var(--gray);
  position: absolute;
  z-index: -1;
  transition: var(--transition);
}
a:not(.no-hover):hover::before {
  width: 100%;
}
a.active::before {
  width: 100%;
} */
@media screen and (max-width: 600px) {
  .grid.cols-3 {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* All */
.swiper-container-container {
  width: 100%;
  display:flex;
  aspect-ratio: var(--aspectRatio);
  background-color: var(--gray);
  margin-bottom: var(--gutter);
}
swiper-container {
  width: 100%;
  aspect-ratio: var(--aspectRatio);
  opacity: 0;
}
swiper-container.loaded {
  opacity: 1;
}
swiper-slide {
  width: 100%;
  aspect-ratio: var(--aspectRatio);
}
swiper-slide img {
  height: 100%;
  width: 100%;
  aspect-ratio: var(--aspectRatio);
}
.thumbnail {
  background-color: var(--gray);
  width: 50%;
  aspect-ratio: 1;
  border-radius: 50%;
  margin-bottom: 1rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.thumbnail p {
  text-align: center;
  margin-top: .1em;
}

/* Contact/SupportUs */
button {
  color: #fff;
  background-color: transparent;
  border: none;
  padding: .7rem 3rem .7rem 1rem;
  text-align: left;
  cursor: pointer;
  transition: var(--transition);
}
.button-container {
  display: inline-block;
  width: fit-content;
  position: relative;
  vertical-align: middle;
}
.button-container::before {
  content: '';
  display: block;
  height: 100%;
  width: 0;
  background-color: #E6E7E8;
  position: absolute;
  top: 0;
  z-index: -1;
  transition: var(--transition);
}
.button-container::after {
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  background-color: #000;
  position: absolute;
  top: 0;
  z-index: -2;
  transition: var(--transition);
}
@media screen and (min-width: 601px) {
  .button-container:hover button {
    color: #000;
  }
  .button-container:hover::before {
    width: 100%;
  }
}
.supportUs-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: var(--gutter);
}
form {
  display: flex;
  flex-direction: column;
  row-gap: 1em;
}
form input, textarea {
  display: block;
  width: 100%;
  padding: .7rem 1rem;
  background-color: var(--gray);
  border: none;
  resize: vertical;
}
form textarea {
  resize: vertical;
  height: 10rem;
}
form input:focus-visible,
form textarea:focus-visible,
form select:focus-visible {
  outline: solid 1px #000;
}
form input.empty,
form textarea.empty,
form select.empty {
  outline: solid 1px #ff0000;
}
select {
  appearance: none; /* Standard */
  -webkit-appearance: none; /* Chrome, Safari, Edge */
  -moz-appearance: none; /* Firefox */

  display: block;
  width: 100%;
  padding: .7rem 2.5rem .7rem 1rem;
  background-color: var(--gray);
  border: none;
  resize: vertical;

  background: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 6"%3E%3Cpath fill="currentColor" d="M0 0l5 6 5-6z"/%3E%3C/svg%3E') no-repeat;
  background-color: var(--gray);
  background-position: right 1rem center; /* Position the arrow */
  background-size: .7em; /* Adjust arrow size */
}

/* News */
.news-img {
  width: 100%;
  height: 100%;
}
.cover {
  object-fit: cover;
}
.contain {
  object-fit: contain;
}

/* Sites/Projects/Pages */
.sites-grid,
.pages-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--gutter);
}
.site,
.page {
  color: var(--white);
  background-color: var(--gray);
  aspect-ratio: var(--aspectRatio);
  padding: .4em .8em;
  position: relative;
}
@media screen and (min-width: 601px) {
  .site:hover img {
    filter: brightness(0);
  }
  .site:hover,
  .page:hover {
    background-color: var(--black);
    color: var(--white);
  }
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: var(--gutter);
  row-gap: calc(var(--gutter)*3);
}
.project {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
.project>.project-img-container {
  background-color: var(--gray);
  aspect-ratio: var(--aspectRatio);
  padding: .4em .8em;
  position: relative;
}
.project-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: var(--gutter);
}
.project .externalLink {
  grid-column: 1 / span 2;
}

.site-img,
.project-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  filter: brightness(.9);
}
.site h2,
.project h2 {
  z-index: 1;
  position: relative;
  color: var(--white);
}
@media screen and (min-width: 1920px) {
  .projects-grid,
  .sites-grid,
  .pages-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 600px) {
  .projects-grid,
  .sites-grid,
  .pages-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}